@import '../base/estilosGenerales';

/*Inicio Nosotros*/
.class-Nav-Nos {
    background-color: rgb(105, 152, 171);
    font-size: 1.5rem;
    text-align: center;
    .img-Txt-nos{
        .img-nos {
            @extend %imgs;
        }
        
        .txt-nos {
            @extend %txt;
        }
    }
    .img-Txt-nosotros{
        .img-nos {
            @extend %imgs;
        }
        
        .txt-nos {
            @extend %txt;
        }
    }
}
