/*Inicio Nosotros*/
.class-Nav-Nos {
    background-color: rgb(105, 152, 171);
    font-size: 1.5rem;
    text-align: center;
    .img-Txt-nos{
        .img-nos {
            margin: 20px;
            width: 60vw;
            height: 60vw;
        }
        
        .txt-nos {
            margin: auto;
            font-size: 1.4rem;
        }
    }
    .img-Txt-nosotros{
        .img-nos {
            margin: 20px;
            width: 60vw;
            height: 60vw;
        }
        
        .txt-nos {
            margin: auto;
            font-size: 1.4rem;
        }
    }
}
