/*Estilos Generales*/
/*Reseteo universal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*con estas lineas se le saca el subrayado y el color de los enlaces*/
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    display: inline-block;
    display: flex;
}

img {
    border: 3px solid black;
}

h1 {
    font-size: 20px;
}
/*hablando con la profesora, me comento que como era 1 solo extend lo coloque en estilos generales*/
%imgs {
    margin: 20px;
    width: 60vw;
    height: 60vw;
}

%txt {
    margin: auto;
    font-size: 1.4rem;
}