/*Media Queris Mobile*/

@media only screen and (max-width:450px) {
    /*Index*/
    

    /*Nosotros*/
    .txt-nos {
        font-size: 12px;
    }

    /*Servicios*/

    /*Contacto*/
    .nav-Contacto{
        font-size: 1rem;
    }
    .img-Cont{
        width: 350px;
    }

}

/*Media Queris tablet*/

@media only screen and (min-width:451px) and (max-width:960px) {

    /*Nosotros*/

    .txt-nos {
        font-size: 1.1rem;
    }

    /*Servicios*/

    /*Contacto*/
    .nav-Contacto{
        font-size: 1.2rem;
        
    }
    .img-Cont{
        width: 400px;
    }

}


/*Media Queris monitor*/

@media only screen and (min-width: 961px) {

    /*Nosotros*/
    .img-Txt-nos {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;

    }

    .img-Txt-nosotros {
        display: flex;
        justify-content: center;
    }

    /*Servicios*/
    .img-Txt-serv {
        display: flex;
        justify-content: center;
    }
    .img-Txt-servicios {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
    }
}